<div class="container-fluid">
  <div class="container-fluid">

    <div class="col-md-12 col">

      <div class="row">
        <h4>
          Dans le cadre de la recherche à l'Université Paris 1 Panthéon-Sorbonne, Un algorithme a été implémenté qui
          permet de choisir la trajectoire de la voiture autonome.
        </h4>
        <h4>
          L'idée principale de cet algorithme est de déterminer le point de fuite.
        </h4>


        <h4></h4>
        <h4>
          Dans cet experimental, vous aurez 100 images dans lesquelles vous comparerez deux images et choisirez l’image avec le meilleur point de
          fuite.
        </h4>
        <h4>
          Si vous avez besoin plus d'informations, voici <a href="/about">un tutoriel</a> qui explique comment le point de
          fuite est sélectionné.
        </h4>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-md-12 col">

      <div class="row justify-content-md-center">

        <div class="col-sm-auto-1" *ngFor="let data of allData; index as i">


          <div *ngIf="data.id%3==0">
            <button routerLinkActive="active" type="button" class="btn btn-secondary"
                    [routerLink]="['/detail',data.key,i+1,true]"
                    [queryParams]="data">  {{i + 1}}</button>
          </div>
          <div *ngIf="data.id%3!=0">
            <button routerLinkActive="active" type="button" class="btn btn-secondary"
                    [routerLink]="['/detail',data.key,i+1,false]"
                    [queryParams]="data">  {{i + 1}}</button>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 col">
    <div class="grid ">

      <div class=" align-items-center">
        <div class="d-flex justify-content-center"><img alt="logo" width="200"
                                                        class="logo" src="assets/Images/paris1.png">

        </div>
      </div>
      <div class="align-items-center">

        <div><br></div>
        <div class="d-flex justify-content-center"  ><h3>© 2021 Bashar
          Alayan</h3></div>
      </div>
    </div>
  </div>


</div>
