<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>Home Page</title>

</head>

<body>

<div class="container-fluid">

  <div class="col-md-12 col">
    <div class="">
      <br>
      <h3 class="font-weight-bold">Qu'est-ce qu'un point de fuite ?</h3>
      <br>
      <h5>Un point de fuite est le point d'intersection de deux lignes parallèles</h5>
      <br>
      <div class="text-center">
        <img alt="logo" class="img-fluid" src="../assets/Images/12.jpg">
      </div>


      <ul class="list-unstyled">

        <li>
          <ul>
            <h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              Si la ligne la plus proche de cette voiture sur le côté droit est sélectionnée
            </h5>
            <br>
            <h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              Si la ligne la plus proche de cette voiture sur le côté gauche est sélectionnée
            </h5>

          </ul>
        </li>
      </ul>
      <br>
      <div class="text-center">
        <img alt="logo" class="img-fluid" src="../assets/Images/12-VP.jpg">
      </div>
      <br>
      <h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right"
             viewBox="0 0 16 16">
          <path
            d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
        </svg>
        Dans cet exemple, Nous avons trouver le point de fuite qui est le point vert
      </h5>
    </div>
  </div>

  <div class="container-fluid">

    <div class="col-md-12 col">

      <div class="row">
        <div class="d-flex justify-content-center"><img alt="logo" width="180"
                                                        class="logo"

                                                        src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2c/Universit%C3%A9_Panth%C3%A9on-Sorbonne_%28depuis_janvier_2015%29.svg/langfr-280px-Universit%C3%A9_Panth%C3%A9on-Sorbonne_%28depuis_janvier_2015%29.svg.png">
        </div>
        <br>

        <div class="d-flex justify-content-center" style="margin-top: 10px; color: #c1daec"><h6>© 2021 Bashar
          Alayan</h6></div>
      </div>
    </div>

  </div>

</div>


<router-outlet></router-outlet>

</body>
</html>
