<!doctype html>
<html lang="en">
<head>

  <title>Home Page</title>

</head>

<body>

<div class="container-fluid">

  <div class="col-md-12 col">
    <div class="">
      <br>
      <h3 class="font-weight-bold">Qu'est-ce qu'un point de fuite ?</h3>
      <br>
      <h5>Un point de fuite est le point d'intersection de deux lignes parallèles</h5>
      <br>
      <div class="text-center">
        <img alt="logo" class="img-fluid" src="../assets/Images/12.jpg">
      </div>


      <ul class="list-unstyled">

        <li>
          <ul>
            <h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              Si la ligne la plus proche de cette voiture sur le côté droit est sélectionnée
            </h5>
            <br>
            <h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              Si la ligne la plus proche de cette voiture sur le côté gauche est sélectionnée
            </h5>

          </ul>
        </li>
      </ul>
      <br>
      <div class="text-center">
        <img alt="logo" class="img-fluid" src="../assets/Images/12-VP.jpg">
      </div>
      <br>
      <h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right"
             viewBox="0 0 16 16">
          <path
            d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
        </svg>
        Dans cet exemple, Nous avons trouvé le point de fuite qui est le point vert
      </h5>
    </div>
    <div class="col-md-12 col">

    <h5>
      l'article scientifique utilisé pour implémenter l'algorithme est : <a target="blank" href="assets/pdf/mafiadoc.com_vanishing-point-detection-for-self-driving-car-usi_5ba3b3a1097c47741a8b46e4.pdf"> Cliquez ici </a>
    </h5>
    </div>
  </div>




    <div class="col-md-12 col">
      <div class="grid ">

        <div class=" align-items-center">
          <div class="d-flex justify-content-center"><img alt="logo" width="300"
                                                          class="logo"     src="assets/Images/paris1.png">

          </div>
        </div>
        <div class="align-items-center">
          <div class="d-flex justify-content-center" style="margin-top: 5px; color: #c1daec"><h2>© 2021 Bashar
            Alayan</h2></div>
        </div>
      </div>


  </div>

</div>


<router-outlet></router-outlet>

</body>
</html>
