p{
  color: #d1ecff;
}

h4{
  color: #d1ecff;
}

h5{
  color: #d1ecff;
  font-size: 22px;

}

img{
  border-radius: 15px;

}
h2 {
  color: #d3ecff;
  font-size: 20px;
  margin: 0px;

}

h6{
  color: #d1ecff;
}

img{
  margin-bottom: 30px;
}
