button{
  margin: 20px;
  padding: 10px;
  height: 50px;
  width: 100px;
  background-color: #16D298;
  color: #273d51;
}

form{
  margin: 40px;
}

input{
  padding: 15px;

}

textarea{
  padding: 15px;

}
h3 {
  color: #d3ecff;
  font-size: 20px;
  margin: 0px;

}
