<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .col {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .col > div {
      background-color: #13131e;
      height: 100%;
      padding: 5px;
      border-radius: 15px;
      border: 1px solid #363652;
    }

    b {
      color: aliceblue;
      font-size: 17px;
    }

    h2 {
      color: aliceblue;
      font-size: 25px;
    }

    body {
      background-color: #08080d !important;
    }


    header {
      padding: 0 15px;
    }


    footer {
      padding: 0 15px;
      background-color: #13131e;
      padding-bottom: 20px;
    }

    h5 {
      color: red;
    }


  </style>
</head>

<body>

<nav class="navbar navbar-light" style="background-color: #13131e;height: 80px">
  <div class="container">
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/"><h2>Test the new algorithm</h2></a>
      </li>
    </ul>

  </div>
</nav>

<div class="container-fluid">
  <div class="row grid-columns">
    <div class="col-md-1 col">
      <div>
        <div class="d-flex justify-content-center"><b>No.</b></div>
      </div>
    </div>
    <div class="col-md-1 col">
      <div>
        <div class="d-flex justify-content-center"><b>Status</b></div>
      </div>
    </div>
    <div class="col-md-4 col">
      <div>
        <div class="d-flex justify-content-center"><b>Algorithm 1</b></div>
      </div>
    </div>
    <div class="col-md-4 col ">
      <div>
        <div class="d-flex justify-content-center"><b>Algorithm 2</b></div>
      </div>
    </div>
    <div class="col-md-2 col ">
      <div>
        <div class="d-flex justify-content-center"><b>Action</b></div>
      </div>
    </div>
  </div>


  <div class="row grid-columns" *ngFor="let data of allData; ">

    <div class="col-md-12 col">

      <div class="row grid-columns">

        <div class="col-md-1 col">
          <div>
            <div class="d-flex justify-content-center"><b>{{data.key}}</b></div>
          </div>
        </div>
        <div class="col-md-1 col">
          <div *ngIf="!data.status">

            <div class="d-flex justify-content-center"><img alt="logo" class="img-fluid" alt="Responsive image"
                                                            src="../assets/Images/not%20done%20icon.png"></div>
          </div>

          <div *ngIf="data.status">

            <div class="d-flex justify-content-center"><img alt="logo" class="img-fluid" alt="Responsive image"
                                                            src="../assets/Images/icone_done.png"></div>
          </div>
        </div>
        <div class="col-md-4 col">
          <div>
            <div class="d-flex justify-content-center"><img alt="logo" class="img-fluid" alt="Responsive image"
                                                            src="{{data.img_algo_1}}"></div>
          </div>
        </div>
        <div class="col-md-4 col ">
          <div>
            <div class="d-flex justify-content-center"><img alt="logo" class="img-fluid" alt="Responsive image"
                                                            src="{{data.img_algo_2}}"></div>
          </div>
        </div>
        <div class="col-md-2 col ">
          <div>

            <div class="d-flex justify-content-center">

              <form [formGroup]="selectForm" (ngSubmit)="onSubmit(data)">
                <div class="form-group">

                  <select class="custom-select" formControlName="selectOptions">
                    <option value="" disabled>Choose an option</option>
                    <option [ngValue]="option" *ngFor="let option of options">
                      {{option.option}}
                    </option>
                  </select>
                  <div class="invalid-feedback" *ngIf="isSubmitted && optionSelected.errors?.required">
                    <h5><sup>*</sup>Please select your option</h5>
                  </div>

                </div>
                <div class="d-flex justify-content-center">

                  <button type="submit" class="btn btn-success   btn-lg btn-block">Submit</button>
                 </div>
              </form>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <hr>
  <hr>
  <div class="d-flex justify-content-center"><a class="navbar-brand" routerLink="/"><img alt="logo" width="200"
                                                                                         class="logo"
                                                                                         src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2c/Universit%C3%A9_Panth%C3%A9on-Sorbonne_%28depuis_janvier_2015%29.svg/langfr-280px-Universit%C3%A9_Panth%C3%A9on-Sorbonne_%28depuis_janvier_2015%29.svg.png"></a>
  </div>
  <br>
  <div class="d-flex justify-content-center"><b>© 2021 Bashar Alayan</b></div>
</footer>


</body>
